.price-filter-body {
    font-size: 12px;
}

.price-filter-input {
    position: relative;
    display: inline;
    width: 25%;
    border: 1px lightgray solid;
}

.price-filter-between {
    color: lightgray;
    font-size: 22px;
    line-height: 0;
    margin: 0 10px;
}
