.catalog-item {
    position: relative;
    background: white;
    text-align: center;
    height: 100%;
    width: 100%;
}

.catalog-item-discount-area {
    height: 34px;
}

.catalog-item-image-area {
    height: calc(100% - 34px);
}

.catalog-item-image-area img {
    height: 100%;
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
}

.catalog-item-footer {
    height: 80px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(255, 255, 255, 0.95);
}

.catalog-item-title-link {
    display: block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: black;
    transition: color 0.2s ease;
    margin: 10px 0 10px 0;
}

.catalog-item-title-link:hover {
    color: #c82128;
}

.catalog-item-price {
    display: block;
    color: #595959;
}
