.search-suggestions-container {
    position: absolute;
    min-height: 60px;
    width: 810px;
    background: #f5f5f5;
    padding: 10px 10px 0 10px;
    z-index: 11;
}

.search-suggestions-items {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.search-suggestions-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    height: 55px;
}

.search-suggestions-get-more-link {
    text-decoration: none;
    margin-left: 10px;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.search-suggestions-get-more-link:hover {
    color: #494949;
}

.search-suggestions-total {
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #5c5c5c;
}

.hidden {
    display: none;
}
